@tailwind base;
@tailwind components;
@tailwind utilities;

/* loader.css */
#loader {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 9999;
display: none;
}


.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

.card-excerpt {
    color: #555;
    margin-top: 10px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}
